.myInput {
  min-width: 100%;
  background-color: transparent;
  padding: 1px 3px;
  margin-bottom: 8px;
  border: 2px solid grey;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Montserrat';
  color: black;
  letter-spacing: 1px;
}
